.pagination {
  max-width: 675px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  .page-numbers {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    text-decoration: none;
    transition: .3s ease all;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover, &.current {
      background: var(--l-green);
    }
  }
}
