@mixin fface($path, $family, $type: '', $weight: 400, $svg: '', $style: normal) {
  @font-face {
    font-family: $family;
    @if $svg == '' {
      // with OTF without SVG and EOT
      src: url('#{$path}#{$type}.ttf') format('truetype');
    } @else {
      // traditional src inclusions
      src: url('#{$path}#{$type}.ttf') format('truetype');
    }
    font-weight: $weight;
    font-style: $style;
  }
}
// ========================================================importing
$dir: 'assets/fonts/PlayfairDisplay/';

$finter: 'PlayfairDisplay';
// adding specific types of font-weights
@include fface('#{$dir}#{$finter}', $finter, '-Regular', 400);
@include fface('#{$dir}#{$finter}', $finter, '-Medium', 500);
@include fface('#{$dir}#{$finter}', $finter, '-SemiBold', 600);
@include fface('#{$dir}#{$finter}', $finter, '-Bold', 500);
@include fface('#{$dir}#{$finter}', $finter, '-ExtraBold', 600);
@include fface('#{$dir}#{$finter}', $finter, '-Black', 700);
// ========================================================usage
